.header {
    height: 100px;
    background-image: url("../imagens/a12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    position: absolute;
    top: 3%;
    right: 4%;
    display: flex;
    font-family: "VT323", monospace;
    position: fixed;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
}

.navbar li {
    position: relative; /* Necessário para posicionar a barra vertical */
}

.navbar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: white;
    transition: color 0.3s ease-out;
}

.titulo {
    top: 3%;
    left: 3%;
    vertical-align: top;
    position: absolute;
    color: black;
    position: fixed;
}

body {
    background-color: #181818;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    font-family: "VT323", monospace;
    color: #f3f3f3;
    font-size: 20px;
    /* Removendo o flex centralizado */
}

.container-1 {
    background-image: url(../imagens/wallp.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}

.secao {
    height: 100%;
    width: 100%;
    padding: 100px;
}

.conteudo-principal { /* Estilos para o novo contêiner pai */
    display: flex;
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
    justify-content: center;
    align-items: center;
}

.foto-texto-container {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adiciona espaço entre os contêineres */
}

.container-foto {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.foto-de-mim {
    border-radius: 225px;
    width: 125px;
    height: 125px;
}

.titulo-container {
    color: #ffffff;
    font-family: "VT323", monospace;
    font-size: 45px;
}

.sub-titulo-container {
    color: #ffffff;
    font-family: "VT323", monospace;
    font-size: 25px;
}

.container-descricao {
    flex: 1; /* Permite que a descrição ocupe o espaço restante */
    color: #ffffff;
    font-size: 25px;
}

.container-2 {
    background-color: #bebebe; /* Cor alterada para um cinza mais escuro */
    height: 500px;
    width: cover;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

.secao-2 {
    background-color: aqua;
    height: 85%;
    width: 95%; /* Defina uma largura para centralizar */
}